*.DS_Store

# Build application files
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle files
TpagaSDKUsageExampleApp/.gradle/
TpagaSDKUsageExampleApp/build/

# Local configuration file (sdk path, etc)
TpagaSDKUsageExampleApp/local.properties

# Android Studio / IntelliJ
TpagaSDKUsageExampleApp/.idea/
*.iml
*.iws
TpagaSDKUsageExampleApp/out/
